nav{
    height: 100%;
}

.side-nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem; 
    cursor: pointer;
}

.side-nav-button:hover {
    background-color: rgba(255,255,255,.2);
    border-radius: 6px;
}

img{
    width: 80px; 
    border-radius: 6px;
}