<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nms Data</title>
    

</head>
<body>

    
   
        <div class="container">
            <br>
            <h2>NMS Inventory View</h2>
            <br>
        <table class="table">
            <thead>
                <tr>
                    <th>OLT_NE_ID</th>
                    <th>OLT</th>
                    <th>type</th>
                    <th>PON</th>
                    <th>Serialnumber</th>
                    <th>Zone</th>
                    <th>Site</th>
                </tr>
            </thead>
            <tbody>
                
                <tr *ngFor="let n of nms">
                    <td>{{n.OLT_NE_ID}}</td>
                    <td>{{n.OLT}}</td>
                    <td>{{n.type}}</td>
                    <td>{{n.PON}}</td>
                    <td>{{n.Serialnumber}}</td>
                    <td>{{n.Zone}}</td>
                    <td>{{n.Site}}</td>
                </tr>
                
                
                
            </tbody>
        </table>
        </div>
        
</body>
</html>